@import '../assets/fonts/fonts.css';
@import './abstracts/_mixins.scss';
@import './abstracts/variables.scss';
$font: 'Roobert-Medium';
$font2: 'Circular Black';

.landing-control {
  display: flex;
}

.image-block {
  position: relative;
  display: flex;
  background-image: url('../images/ad.jpg');
  height: 800px;
  width: 800px;
  z-index: -1;
  margin-left: 50%;
}
