@import '../assets/fonts/fonts.css';
@import './abstracts/_mixins.scss';
@import './abstracts/variables.scss';
$font: 'Roobert-Medium';
$font2: 'Circular Black';
$lightgreen: #56ab2f;
$blue1: #4286f4;
$darkgrey: #212529;
$orange1: #ff8614;

.landing-control {
  display: flex;
  z-index: -1;

  .landing-intro {
    transition: all 0.5s;
  }
  .intro-content {
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  .hovertext {
    transition: all 0.5s;
    font-family: $font;
    width: 800px;
    height: 200px;
    margin-left: -10%;
    font-size: 2rem;
    text-align: center;
  }
  .hovertext:nth-child(2) {
    margin-top: 3px solid $darkgrey;
  }

  .hovertext:nth-child(3) {
  }
}

.ad-image {
  max-width: 100%;

  transition: all 0.5s;
  position: relative;
  text-align: justify;
}
.image-block {
  position: relative;
  display: flex;
  background-image: url('../images/ad.jpg');
  height: 680px;
  width: 800px;
  z-index: -1;

  transition: all 0.5s;

  .img-h1 {
    font-family: $font2;
    color: white;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }
}
.text {
  font-size: 1.5rem;

  margin-right: 10%;
}

.green {
  background: $lightgreen;
  transition: all 0.5s;
  font-family: $font;
}
.blue {
  background: #4286f4;
  transition: all 0.5s;
  font-family: $font;
}
.red {
  background: $orange1;
  transition: all 0.5s;
  font-family: $font;
}
