@import '../assets/fonts/fonts.css';
@import './abstracts/_mixins.scss';
@import './abstracts/variables.scss';
$font: 'Corsica-semibold';
$font1: 'Circular Black';
$font2: 'Roobert-Medium';
$font3: 'Proxima Nova';
$font4: 'Proxima Thin';
$grey: #363c4c;
$lightgrey2: #878787;
$darkgrey: #212529;
$black: #191919;

.footer {
  display: flex;

  background: black;
  font-family: $font3;
  text-decoration: none;

  @include sm {
    display: flex;
    flex-direction: column;
  }
  .left-footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    .toplogo {
      width: 150px;
      height: 150px;
      z-index: 2;
      margin-top: 15%;
      margin-left: 30%;
    }

    .botlogo {
      width: 140px;
      height: 82px;
      z-index: 2;
      margin-top: 15%;
      margin-left: 31%;
    }

    .go4lifelink {
      font-size: 14px;
      font-family: $font1;
      color: white;
      text-decoration: none;
      margin-top: 5%;
      margin-left: 31%;
      display: flex;
      flex-direction: row;

      .link {
        color: white;
        text-decoration: none;
      }

      .arrow {
        color: white;
        font-size: 1.5rem;
        margin-top: -1%;
        margin-left: 4%;
      }
    }
  }
  .right-footer {
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    width: 50%;

    @include md {
      display: flex;
      flex-direction: column;
    }

    .footer-links:nth-child(2) {
      margin-top: 6.2%;

      @include lg {
        margin-top: 6.1%;
      }

      @include md {
        margin-top: 10%;
      }

      a {
        margin-top: 24%;
      }
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      margin-left: 15%;
      margin-top: 6%;

      .footer-heading {
        color: $lightgrey2;
        font-size: 15px;
        letter-spacing: 5px;
        text-decoration: none;
        text-transform: uppercase;

        font-family: $font;
      }

      a {
        font-family: $font4;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        margin-top: 20%;
        font-size: 12px;

        @include md {
          margin-top: 10%;
        }
      }
    }
  }
}

.socials {
  display: flex;
  width: 40%;

  flex-direction: column;
  margin-top: 10.5%;

  @include lg {
    margin-left: 5%;
    margin-top: 10.2%;
  }

  .social-heading {
    color: white;
    color: $lightgrey2;
    font-size: 8px;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;

    font-family: $font;
  }

  .social-links {
    text-decoration: none;
    margin-top: 5%;
    margin-left: -6%;

    a {
      color: white;
      font-size: 2rem;
      margin-left: 5%;
    }
  }
  .social-footer {
    color: $grey;
    margin-top: 30%;
    display: flex;
    font-family: $font1;
    font-size: 6px;

    margin-left: 5%;

    .icon {
      margin-top: 0.5%;
      font-size: 10px;
    }
  }
}
