@import '../assets/fonts/fonts.css';
@import './abstracts/_mixins.scss';
@import './abstracts/variables.scss';

$font: 'Roobert-Medium';
$lightgrey: #edeef0;
$white: #fff;

$black: #191919;

//main code
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
